openapi: 3.2.0
info:
  title: Google Data Studio Looker Studio Linking Embedding API
  description: The Looker Studio Linking API provides a reliable interface to configure and forward users directly to a pre-configured Looker Studio report via URL parameters, enabling one-click report creation experiences. It allows developers to create dynamic URLs that direct users to pre-configured reports, eliminating manual data source setup. The API supports configuring report templates, data sources, connectors, and report parameters through URL query parameters.
  version: v1
  contact:
    name: Google
    url: https://developers.google.com/looker-studio/integrate/linking-api
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  x-date: '2026-03-04'
servers:
- url: https://lookerstudio.google.com
  description: Looker Studio production server
tags:
- name: Embedding
  description: Operations for embedding pre-configured Looker Studio reports
paths:
  /embed/reporting/create:
    get:
      operationId: createEmbeddedReport
      summary: Google Data Studio Create a pre-configured embedded Looker Studio report
      description: Forwards the user to a pre-configured embedded Looker Studio report using URL parameters. This endpoint provides the same functionality as the standard report creation endpoint but optimized for embedding in iframes. Accepts the same parameters as the /reporting/create endpoint.
      tags:
      - Embedding
      parameters:
      - name: c.reportId
        in: query
        required: false
        description: The template report ID. If omitted, a blank report is created.
        schema:
          type: string
      - name: c.pageId
        in: query
        required: false
        description: Specifies the initial page to load in the report.
        schema:
          type: string
      - name: c.mode
        in: query
        required: false
        description: Sets the initial mode of the report on load. Accepts "view" or "edit".
        schema:
          type: string
          enum:
          - view
          - edit
      - name: c.explain
        in: query
        required: false
        description: Enables the debug/info dialog for troubleshooting.
        schema:
          type: boolean
      - name: r.reportName
        in: query
        required: false
        description: Overrides the template report name.
        schema:
          type: string
      - name: ds.ds0.connector
        in: query
        required: false
        description: Specifies the connector type for the data source configuration. When set, the data source is completely replaced. When omitted, only specified parameters are updated.
        schema:
          type: string
      - name: ds.ds0.datasourceName
        in: query
        required: false
        description: Sets the display name of the data source.
        schema:
          type: string
      - name: ds.ds0.refreshFields
        in: query
        required: false
        description: Controls whether fields are refreshed on configuration change.
        schema:
          type: boolean
      responses:
        '302':
          description: Redirects the user to the embedded pre-configured Looker Studio report.
          headers:
            Location:
              description: The URL of the embedded configured Looker Studio report.
              schema:
                type: string
                format: uri
        '400':
          description: Invalid URL parameters. An error dialog is displayed when URL parsing fails.
externalDocs:
  description: Looker Studio Linking API Documentation
  url: https://developers.google.com/looker-studio/integrate/linking-api
